<div class="container"><br>    
    <h3><br><u>Gestionar citas</u></h3>   
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button class="btn btn-dark b w-25" routerLink="/pedir/nuevo">Apuntar</button>
            <button class="btn btn-dark a w-25" routerLink="/ver">Ver</button>
            <br><br>
            <img class="rounded mx-auto d-block img-fluid mb-2" src="../../../../assets/imagenes/LOGO.png">
            <br>

        </div>
    </div>
</div>