<br><br>
<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Horario</h5>
        <p class="card-text"><b>Lunes a Viernes</b></p>
        <p class="card-text">9:00-13:30 y 16:00-20:30</p>
        <p class="card-text"><b>Sábado</b></p>
        <p class="card-text">9:00-13:30</p>
        <p class="card-text"><b>Domingo y festivos</b></p>
        <p class="card-text">Cerrados</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Precios</h5>
        <p class="card-text"><b>Adulto</b></p>
        <p class="card-text">10€</p>
        <p class="card-text"><b>Barbas</b></p>
        <p class="card-text">Consultar precio</p>
        <p class="card-text"><b>Niños</b></p>
        <p class="card-text">8€</p>
      </div>
    </div>
</div>
<br><br><br>
<br><br><br>