<div class="row align-items-center justify-content-center mb-5">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right mb-5">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand text-secondary" [routerLink]="['/home']"><img src='../../../assets/imagenes/LOGO.png' width="100" alt=""></a>
      <a class="navbar-brand text-light" [routerLink]="['/citas']">Citas</a>
      <a class="navbar-brand text-white" [routerLink]="['/horarios']"><small>Horario y precios</small></a>
      <a class="navbar-brand text-white" href="https://www.google.com/maps/place/Peluqueria+Pruden/@36.51079,-4.8791973,17z/data=!3m1!4b1!4m5!3m4!1s0xd72d80a05296417:0x7d20474b396b60d2!8m2!3d36.51079!4d-4.8770086"><small>Ubicación</small></a>
      <!-- <a class="navbar-brand" [routerLink]="['/administrador']"><small class="btn btn-muted">Administrador</small></a> -->
    <!-- <a class="navbar-brand text-white" [routerLink]="['/mapa']"><small>Ubicación</small></a> -->
      <a class="navbar-brand" [routerLink]="['/administrador']"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
    </nav>
  </div>
</div>



